@media only screen
and (min-device-width: 320px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .contact-list-item div {
        display: block;
    }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape),
only screen and (min-device-width: 768px) {
    .contact-list-item div {
        display: inline;
        padding-right: 10px;
    }

    .list-group-item > button.btn-danger.pull-right {
        margin: -7px -12px 0 0;
    }
}

.contact-create span.error-message {
    display: none;
}

.contact-create input.ng-invalid.ng-dirty {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}

.contact-create input.ng-invalid.ng-dirty ~ span.error-message {
    color: #a94442;
    display: inline;
}