<div class="page-header">
    <h1>{{contacts.title}}</h1>
</div>

<div class="container col-sm-6">
    <div>
        <form name="contactCreate" class="contact-create" ng-submit="contacts.createContact(contacts.contact)">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" class="form-control" id="firstName" ng-model="contacts.contact.firstName" required/>
                <span class="error-message">First name is required.</span>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" class="form-control" id="lastName" ng-model="contacts.contact.lastName" required/>
                <span class="error-message">Last name is required.</span>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number:</label>
                <input type="text" class="form-control" id="phoneNumber" ng-pattern="/^\d{10}$/"
                       ng-model="contacts.contact.phoneNumber" required/>
                <span class="error-message">Phone number is required and should be 10 symbols digits only.</span>
            </div>
            <button type="submit" class="btn btn-default btn-info" ng-disabled="contactCreate.$invalid">Create</button>
            <button type="button" class="btn btn-default btn-warning" ng-disabled="contactCreate.$invalid"
                    ng-click="contacts.editContact(contacts.contact.id, contacts.contact)">Edit
            </button>
        </form>
    </div>
</div>
<div class="col-xs-12" style="height:20px;"></div>
<div class="clearfix"></div>
<div class="container">
    <div class="panel panel-default" ng-show="contacts.contacts.length">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-success pull-right" ng-click="contacts.saveAllContacts()">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        Save list
                    </button>
                    <div class="panel-title">Existing contacts <br/>
                        <small>(click to edit)</small>
                    </div>
                </div>
                <div class="col-sm-6">
                    <form class="form-inline form-group">
                        <label for="filterStr">Filter by:</label>
                        <input id="filterStr" class="form-control" ng-model="contacts.filterStr"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-body">

            <ul class="list-group list-unstyled row">
                <li class="col-xs-12 col-sm-6"
                    ng-repeat="contact in contactsList = (contacts.contacts | filterName:contacts.filterStr)">
                    <div ng-show="contactsList.length" ng-click="contacts.setEditable($index,contactsList[$index])">
                        <div class="list-group-item" ng-class="{'active': contacts.isSelected(contact) && !!contact}">

                            <button class="btn btn-danger pull-right"
                                    ng-click="contacts.deleteContact(contactsList[$index])">Delete
                            </button>
                            <div class="contact-list-item">
                                <div>{{contact.firstName}} {{contact.lastName}}</div>
                                <span class="badge">{{contact.phoneNumber}}</span>
                            </div>
                        </div>
                    </div>
                </li>
                <div class="alert-warning text-center" ng-show="!(contacts.contacts | filterName:contacts.filterStr).length">
                    No Results found for: <strong>{{contacts.filterStr}}</strong>.
                </div>
            </ul>
        </div>
    </div>
</div>